<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <a class="navbar-brand" href="#"><h1>In Cinemas</h1></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
        id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['signUp']" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ResetPassword]="['reset-password']" routerLinkActive="active">Change Password</a>
            </li>
        </ul>
    </div>
</nav> -->

<!-- <mat-icon matSuffix>vpn_key</mat-icon> -->
<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login / Sign Up</mat-card-title>
        <mat-card-subtitle>InCinemas</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Login">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="login()">Login</button>
          </mat-tab>
          <mat-tab label="Register">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="register()">Register</button>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>

    </mat-card>
  </div>
